body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f6f8;
}

/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(180, 180, 180) #f5f6f8;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
*::-webkit-scrollbar-track {
  background: #f5f6f8;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(180, 180, 180);
  border-radius: 20px;
  border: 3px solid #f5f6f8;
}

.accent-color {
  color: #2196f3;
}

.divider {
  width: 100%;
  height: 2px;
  background: #f5f6f8;
}

.view-description {
  font-weight: 600;
  margin: 0px 0px 10px 0px;
}

.auth-link {
  text-decoration: none;
  color: inherit;
  text-align: center;
  transition: color 0.5s;
}

.back-to-app-link {
  margin-bottom: 0;
  margin-top: 20;
  font-size: 14;
  text-align: center;
  transition: color 0.5s;
  cursor: pointer;
}

.auth-link:hover,
.back-to-app-link:hover {
  color: #2196f3;
}

.sidebar-link {
  text-decoration: none;
  color: inherit;
  transition: margin-left 0.3s ease-in-out;
}

.sidebar-link:hover {
  margin-left: 3px;
}

.pi-20 {
  font-size: 20px !important;
}

.pi-24 {
  font-size: 24px !important;
}

.drop-shadow {
  -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.asset-item {
  padding-left: 10px;
}

.company-item {
  padding-left: 10px;
}

.settings-item {
  cursor: pointer;
  padding: 5px;
  margin: 0px;
  text-align: right;
}

.asset-item:hover,
.company-item:hover,
.settings-item:hover {
  transition: background-color 0.2s ease-in;
}

.asset-item:hover,
.company-item:hover,
.settings-item:hover {
  background-color: #eee;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.edit:hover {
  color: #ff8c00;
}

.delete:hover {
  color: #f00;
}

.error-boundary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.company-details {
  margin: 10px;
}

.file-uploader-container {
  background: #f5f6f8;
  width: 100%;
  height: 100px;
  position: relative;
  transition: background 0.2s;
}

.file-uploader-container:hover {
  background: #f0f1f3;
}

.headerCompanyName {
  margin-right: 10px;
  max-width: 300px;
  width: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
